<div class="hero-unit">
<h1>欢迎来到 Microblog</h1>
<p>Microblog 是一个基于 Node.js 的微博系统。</p>
<p>
<a class="btn btn-primary btn-large" href="/login">登录</a>
<a class="btn btn-large" href="/reg">立即注册</a>
</p>
</div>
<div class="row">
<div class="span4">
<h2>Steve Jobs 说</h2>
<p>佛教中有一句话：初学者的心态；拥有初学者的心态是件了不起的事情。</p>
</div>
<div class="span4">
<h2>约翰·列侬 说</h2>
<p>五岁时，妈妈告诉我，人生的关键在于快乐。
上学后，人们问我长大了要做什么，我写下“快乐”。
他们告诉我，我理解错了题目，
我告诉他们，他们理解错了人生。</p>
</div>
<div class="span4">
<h2>马良 说</h2>
<p>我所有的自负都来自我的自卑，
所有的英雄气概都来自于我内心的软弱，
所有的振振有词都因为心中满是怀疑。
我假装无情，其实是痛恨自己的深情。
我以为人生的意义在于四处游荡流亡，
其实只是掩饰至今没有找到愿意驻足的地方。</p>
</div>
</div>